body {
    margin: 0;
    padding: 0;
}
.italic{
    font-style:italic;
}
/* Start invisible + squished from the left */
.reveal {
  opacity: 0;
  transform: scale(0.6);   /* Start smaller */
  transform-origin: center center; /* Grow from center */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.reveal.active {
  opacity: 1;
  transform: scale(1);
}



#homesection1{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    height:120vh;
    overflow:hidden;
    position:relative;
}
#homesection1-left{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    z-index:10;
    background:#820000;
    position:relative;
    z-index:3;
    background: linear-gradient(
       75deg,          
       black 0%,
       black 49%,
       #820000 49%,
       #820000 100%
    );
}
#homesection1-right{
    width:50%;
    position:relative;
}
#homesection1-left h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:60px;
    color:white;
    padding-left:30px;
}
#homesection1-left p{
    color:white;
    font-size:21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:30px;
}
#homesection1-right img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    position:relative;
    object-position:70% 40%;
    z-index:1;
}
#homesection1-right::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 23%;
    background: #820000;
    transform: skewX(-10deg);
    transform-origin: top left;
    z-index: 2;
}


header{
    background-color: rgb(23, 23, 23);
    padding: 15px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width:100%;
}
.topnav > ul{
    list-style:none;
    margin:0 auto;
    padding:0;
    display: flex;
    gap:60px;
    align-items:center;
}
.topnav a{
    color: rgb(207, 203, 203);
    transition: color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:50px;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.topnav img{
    width:63px;
    height:63px;
    border-radius:14px;
}
.topnav a:hover {
    color: #f80d0d;
    border-radius: 5px;
}
.topnav a .logo{
    display: inline-block;
    transition: transform 600ms cubic-bezier(.2,.8,.2,1);
    transform-origin: center center;
}
.topnav a:hover .logo,
.topnav a:focus .logo{
    transform: rotate(360deg);
}

.dropdown {
    position: relative; 
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    background:rgb(23, 23, 23);
    padding: 10px 0;
    list-style: none;
    min-width: 160px;
    border-radius: 8px;
}
.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.dropdown-menu li a:hover {
    background: #444;
    color: #f80d0d;
}
.dropdown:hover .dropdown-menu {
    display: block;
}



footer {
    background-color: #090000;
    color: rgb(166, 8, 8);
    text-align: center;
    padding: 20px 0;
    margin-top:0;
    font-family:monospace;
    font-size: 20px;
    display: block;
    align-items:center;
    justify-content:center;
    line-height: 2.5em;
}
.footer-content {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.footer-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.other-footer-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a {
    color: lightsalmon;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}
.footer a:hover {
    color: red;
}




