body {
    background-color:  red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
head {
    background-color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}